/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .story-image {
        margin-right: 50px;
    }

    .story-content h2 {
        margin-top: 0px !important;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .quote-card {
        padding: 75px;
    }

    .nav-item {
        padding-left: 30px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    header.sticky-top {
        position: fixed;
        width: 100%;
        background-color: #fff;
    }

    .nav-item {
        padding-left: 0;
        position: relative;
    }

    .nav-link {
        padding: 20px 25px !important;
    }

    .nav-link:hover {
        background: linear-gradient(-90deg, #fff0 0%, #10ac840d 100%);
    }

    .nav-link::before {
        left: 0;
        width: 4px;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .drop-toggle {
        position: absolute;
        right: 0;
    }

    .sb-current {
        text-align: left;
    }

    .select-box__icon {
        right: -25px;
    }

    .dropdown-menu.resources {
        box-shadow: none;
        width: 100%;
        max-width: 100%;
    }

    .sb-current:focus+.sb-list {
        /*         pointer-events: none; */
        /*         display: block; */
    }

    .sb-list {
        width: 200px;
        left: 50%;
        top: auto;
        bottom: 20px;
        transform: translate(-50%, 0) !important;
        /*         pointer-events: all; */
        /*         display: none; */
    }

    .country-code-box .sb-list {
        width: 100%;
        top: 50px;
        bottom: 20px;
    }

    .sb-list label {
        text-align: center;
    }

    .hero-sec {
        height: auto;
        padding-top: 180px;
    }

    .hero-content h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .sec-title {
        font-size: 40px;
        line-height: 65px;
    }

    .solutions-card {
        padding: 20px 15px;
    }

    .solutions-sec {
        padding: 100px 0;
    }

    .story-sec {
        padding-bottom: 0;
    }

    .story-image {
        margin-right: 0;
    }

    .quote-card {
        background-position: center left;
    }

    .quote-card h2 {
        font-size: 40px;
        line-height: 55px;
    }

    .footer-widget {
        margin-right: 0;
    }

    .footer-widget .footer-logo {
        width: 150px;
    }

    .quote-card form button {
        width: 70px;
    }

    .quote-card form button .text {
        display: none;
    }

    .quote-card form button .icon {
        display: block;
        position: relative;
    }

    .quote-card form button .icon svg {
        width: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .inner-page-area main {
        display: block;
    }

    .side-bar {
        position: fixed;
        padding: 0;
        z-index: 2;
        background: #fff;
        width: 320px;
        height: 450px;
        border: 1px solid #00000014;
        box-sizing: border-box;
        border-radius: 10px 10px 0 0;
        box-shadow: 15px 25px 50px #00000014;
        transition: linear .3s;
        bottom: -450px;
        padding-bottom: 25px;
        border-bottom: 0;
        overflow-y: scroll;
    }

    .side-bar-widget {
        border: none;
        margin: 0;
    }

    .page-content {
        padding: 0;
    }

    .side-bar.side-show {
        bottom: 0;
        transition: linear .3s;
    }

    .toggler {
        display: inline-block;
        background-color: #10AC84;
        color: #fff;
        border-radius: 50%;
        position: fixed;
        right: 25px;
        bottom: 50px;
        z-index: 10;
        height: 42px;
        width: 42px;
        box-shadow: -4px 4px 25px #0000002e;
    }

    .toggler:hover {
        background-color: #0c8f6e;
    }

    .toggler-dark {
        background-color: #000000b3;
    }

    .toggler-icon {
        display: block;
        height: 4px;
        width: 28px;
        margin: auto;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        transition: linear .3s;
    }

    .toggler-icon::before {
        content: '';
        display: block;
        height: 4px;
        width: 28px;
        margin: auto;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        top: -9px;
        transition: linear .3s;
    }

    .toggler-icon::after {
        content: '';
        display: block;
        height: 4px;
        width: 28px;
        margin: auto;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        bottom: -5px;
        transition: linear .3s;
    }

    .toggler-close {
        background-color: transparent;
        transition: linear .3s;
    }

    .toggler-close::before {
        top: 1px;
        transform: rotate(-50deg);
        transition: linear .3s;
    }

    .toggler-close::after {
        top: -3.5px;
        transform: rotate(46deg);
        transition: linear .3s;
    }

    .sub-category-card {
        padding-left: 0px;
    }

    .page-bradcrumb {
        display: none;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .story-image {
        margin-bottom: 50px;
    }

    .copy-right-text {
        text-align: center;
        margin-bottom: 15px;
    }

    .social-logo {
        text-align: center;
    }

    .quote-card {
        padding: 30px;
    }

    .quote-card h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 18px;
    }

    .inner-banner-content p br {
        display: none;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .solutions-card {
        padding: 30px 50px 50px;
    }

    .country-code-box .sb-list {}

    .country-code-box .select-box {
        width: 100px;
    }

    .country-code-box .select-box__icon {

        right: -15px;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 56px
    }

    .hero-content h1 br {
        display: none;
    }

    .hero-content p br {
        display: none;
    }

    .solutions-sec {
        padding: 70px 0;
    }

    .sec-title {
        font-size: 32px;
        line-height: 48px
    }

    .quote-card h2 {
        font-size: 26px;
        line-height: 40px;
    }

    .inner-banner-content h1 {
        font-size: 36px;
        line-height: 1.6;
    }

    .side-bar {
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0px 0px 50px #00000014;
        border-radius: 20px 25px 0 0;
    }

    .hero-sec {
        padding-bottom: 80px;
        padding-top: 130px;
        padding-bottom: 50px;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 22px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .footer-widget {
        text-align: center;
    }

    .footer-widget .footer-logo {
        margin: auto;
        margin-bottom: 25px;
        width: auto;
        max-width: 220px;
    }

    .video-watch-button {
        margin-left: 20px;
    }
}

@media (max-width: 479.98px) {
    .quote-card form {}

    .quote-card form .field {
        display: block;
        position: relative;
    }

    .quote-card form input {
        border-radius: 10px;
        padding-left: 115px;
    }

    .quote-card form button,
    .quote-card form button:hover {
        width: 100%;
        position: initial;
    }

    .quote-card form button .text {
        display: block;
        text-align: center;
    }

    .quote-card form button .icon {
        display: none;
    }

    .country-code-box {
        padding: 24px 10px;
        border: none;
        width: 100px;
    }

    .country-code-box .select-box {
        width: 100px;
    }
}