@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-black.otf);
    font-weight: 900;
}


* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Gordita';
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tfoot,
th,
td,
tr,
b,
strong,
address,
label,
input,
textarea,
*::after,
*::before,
*:hover,
*:focus {
    font-family: 'Gordita';
}

a,
a:hover {
    text-decoration: none;
    color: #10AC84;
    opacity: .8;
    transition: linear .2s;
}

a:hover {
    opacity: 1;
}
/* a:focus{
    background-color: #10AC84;
} */
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

button,
button:hover {
    background-color: transparent;
    border: none;
    transition: linear .2s;
}

.btn-theme {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #10AC84;
    border: 2px solid #10AC84;
    padding: 15px 25px;
    border-radius: 6px;
    display: inline-block;
}

.btn-theme:hover,
.btn-theme:focus {
    color: #10AC84;
    background-color: #fff;
    border: 2px solid #10AC84;
}


/*:::::::::::::::::::::::::::: header css ::::::::::::::::::::::::::::*/
.navbar-brand{
    max-width: 180px;
}
.navbar-brand a{
    opacity: 1;
}
