@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gordita';
    src: url(../fonts/gordita-black.otf);
    font-weight: 900;
}


* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Gordita';
}

html,
body {
    background-color: #ffffff;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tfoot,
th,
td,
tr,
b,
strong,
address,
label,
input,
textarea,
*::after,
*::before,
*:hover,
*:focus {
    font-family: 'Gordita';
}

a,
a:hover {
    text-decoration: none;
    color: #10AC84;
    opacity: .8;
    transition: linear .2s;
}

a:hover {
    opacity: 1;
}

/* a:focus{
    background-color: #10AC84;
} */
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

button,
button:hover {
    background-color: transparent;
    border: none;
    transition: linear .2s;
}

.btn-theme {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #10AC84;
    border: 1px solid #10AC84;
    padding: 15px 25px;
    border-radius: 6px;
    display: inline-block;
}

.btn-theme:hover,
.btn-theme:focus {
    color: #10AC84;
    background-color: #fff;
    border: 1px solid #10AC84;
}

.btn-outline {
    color: #10AC84;
    background-color: #fff;
    border: 1px solid #10AC84;
}

.btn-outline:hover {
    color: #fff;
    background-color: #10AC84;
    border: 1px solid #10AC84;
}

.sec-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #010C09;
}


/*:::::::::::::::::::::::::::: header css ::::::::::::::::::::::::::::*/
header {
    background-color: #fff;
    box-shadow: 0 0 15px #99999921;
}

header nav {
    padding: 0 !important;
}

.navbar-brand {
    max-width: 200px;
    opacity: 1;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler span svg {
    width: 26px;
}

.nav-item {
    padding-left: 45px;
}

.nav-link {
    color: #010C09;
    font-size: 16px;
    line-height: 1;
    opacity: 1;
    padding: 35px 0 !important;
    position: relative;
    background: transparent;
    transition: linear .2s;
}

.nav-link:hover {
    background: linear-gradient(180deg, #fff0 0%, #10ac840d 100%);
    transition: linear .2s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    transition: linear .2s;
}

.nav-link:hover::before,
.nav-link:focus::before {
    background-color: #10AC84;
    transition: linear .2s;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
}

.dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px #00000026;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.dropdown-menu li {
    text-align: right;

}

.dropdown-menu li a {
    font-size: 14px;
    line-height: 23px;
    color: #010C09;
}

.dropdown-menu.resources {
    max-width: 320px;
    width: 320px;
    padding: 0;
}

.dropdown-menu.resources li {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #0000000d;
    padding: 20px 17px;
}

.dropdown-menu.resources li:last-child {
    border: none;
}

.nav-title {
    margin: 0;
    transition: linear .2s;
}

.nav-title .icon {
    margin-right: 10px;
}

.nav-title .icon svg {
    width: 36px;
}

.nav-title .icon svg path {
    transition: linear .2s;
}

.nav-title:hover .icon svg path {
    fill: #10AC84;
    transition: linear .2s;
}



.nav-title .text {
    font-size: 18px;
    line-height: 36px;
    color: #010C09;
    font-weight: 400;
    transition: linear .2s;
}

.nav-title:hover .text {
    color: #10AC84;
    transition: linear .2s;
}

.nav-group-item {
    padding-left: 60px;
}

.nav-group-item li {
    border: none !important;
    padding: 0 !important;
}

.nav-group-item a {
    font-size: 14px;
    line-height: 32px;
}

/*:::::::::::::::::::::::::::: hero section css ::::::::::::::::::::::::::::*/
.hero-sec {
    background-image: url(../images/banner.png);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 130px 0;
    height: calc(100vh - 73px);
}

.hero-content {
    max-width: 850px;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-content p {
    color: #010C09;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-btn-group {
    display: inline-flex;
    align-items: center;
}

.hero-btn-group li {
    margin-right: 40px;
}

.hero-btn-group li:last-child {
    margin-right: 0;
}

.hero-btn-group li:last-child a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #010C09;
}

.hero-btn-group li a .icon {}

.hero-btn-group li a .icon svg {
    width: 50px;
}

.hero-btn-group li a .text {
    padding-left: 20px;
}

/*:::::::::::::::::::::::::::: solutions section css ::::::::::::::::::::::::::::*/
.solutions-sec {
    padding: 180px 0;
}

.solutions-card {
    background: #ffffff80;
    box-shadow: 0 0 0 1px #10ac841a;
    transition: linear .2s;
    /* border: 1px solid #10ac841a; */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 50px 50px;
    text-align: center;
    margin-bottom: 30px;
}

.solutions-card:hover {
    background: #FFFFFF;
    box-shadow: 10px 15px 50px #00000014;
    transition: linear .2s;
}

.icon-area {
    background: #FFFFFF;
    border: 1px solid #10ac844d;
    box-sizing: border-box;
    padding: 19px;
    border-radius: 100px;
    width: 140px;
    height: 140px;
    margin: auto;
    margin-bottom: 40px;
}

.icon-area .icon {
    background: #FFFFFF;
    box-shadow: 2px 4px 15px #00000014;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;

}

.icon-area .icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
}

.solutions-card h3 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.solutions-card p {
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    font-weight: 400;
    margin-bottom: 25px;

}

.solutions-card a {}


/*:::::::::::::::::::::::::::: story section css ::::::::::::::::::::::::::::*/
.story-sec {
    background: linear-gradient(180deg, #10ac840d 0%, #ffffff00 100%);
    padding: 120px 0;
}

.story-image {
    margin-right: 80px;
}

.story-content {}

.story-content p {
    font-size: 16px;
    line-height: 30px;
    color: #222020;
    margin-bottom: 25px;
}

.story-content a.btn-theme {
    margin-top: 15px;
}

/*:::::::::::::::::::::::::::: features section css ::::::::::::::::::::::::::::*/
.features-sec {
    padding: 100px 0;
    background: linear-gradient(180deg, #fff0 0%, #10ac840d 100%);
}

/*:::::::::::::::::::::::::::: quote section css ::::::::::::::::::::::::::::*/
.quote-sec {
    padding: 100px 0;
}

.quote-card {
    background-image: url(../images/qute.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #10AC84;
    padding: 80px 100px;
    border-radius: 20px;
}

.quote-card h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}

.quote-card form {
    background-color: #fff;
    border-radius: 10px;
    display: table;
    width: 100%;
    position: relative;
    max-width: 570px;
    margin: auto;
}

.quote-card form p {
    margin: 0;
    display: table-cell;
    width: 100%;
    padding-left: 15px;
}

.quote-card form select {
    height: 70px;
    border: none;
    border-right: 1px solid #DADADA;
    color: #222020;
    font-size: 16px;
}

.quote-card form select option {
    color: #222020;
    font-size: 14px;
}

.quote-card form input {
    height: 70px;
    border: none;
}

.quote-card form button {
    vertical-align: middle;
    width: 220px;
    border-width: 5px;
    border-color: #fff;
    border-radius: 10px;
    height: 67px;
    position: relative;
    top: -2px;
    right: 1px;
}

/*:::::::::::::::::::::::::::: footer section css ::::::::::::::::::::::::::::*/
footer {}

.footer-widget-group {
    padding: 50px 0;
}

.footer-widget {
    margin-bottom: 30px;
    margin-right: 30px;
}

.footer-widget h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 153.99%;
    text-transform: uppercase;
    color: #010C09;
    margin-bottom: 25px;
}

.footer-widget .text {}

.footer-widget .text p {
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    color: #010C09;
    opacity: 0.5;
}

.footer-widget .text p a {
    color: #010C09;
}

.footer-widget .text p a:hover {
    opacity: 1;
}

.footer-widget .text p br {}

.footer-widget .footer-logo {
    width: 200px;
    margin-bottom: 30px;
}

.footer-nav {}

.footer-nav li {
    margin-bottom: 10px;
}

.footer-nav li a {
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    color: #010C09;
    opacity: 0.5;

}

.footer-nav li a:hover {
    opacity: 1;
}

.copy-right {
    background-color: #0A2821;
    padding: 30px 0;
}

.copy-right-text {
    font-size: 14px;
    color: #ffffffcc;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0;
}

.social-logo {
    text-align: right;
}

.social-logo li {
    display: inline-flex;
    margin-left: 10px;
    vertical-align: middle;
}

.social-logo li span {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    border-right: 2px solid;
    padding-right: 10px;
}

.social-logo li a {}

.social-logo li a svg {
    width: 26px;
}

/*:::::::::::::::::::::::::::: inner page css ::::::::::::::::::::::::::::*/
.inner-banner {
    background-image: url(../images/inner-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0;
}

.inner-banner::before {
    content: "";
    background-color: #010c09bf;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.inner-banner-content {
    position: relative;
    z-index: 1;
}

.inner-banner-content h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}

.inner-banner-content p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 30px;
}

.search-box {}

.search-box form {
    max-width: 500px;
    margin: auto;
}

.search-box form label {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    position: relative;
    height: 60px;
}

.search-box form label .icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.search-box form label .icon svg {
    width: 25px;
}

.search-box form label input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #010C09;
    font-size: 16px;
    line-height: 1;
    height: 100%;
    padding: 12px 20px 12px 60px;
}

.inner-page-area {
    padding: 90px 0;
}

.inner-page-area main {}

.side-bar {}

.side-bar h3 {}

.side-bar ul {}

.side-bar ul li {}

.side-bar ul li a {}

.side-bar ul li a span {}

.page-content {}

.category-card {}

.category-card .card-head {}

.category-card .card-head h2 {}

.category-card .card-head p {}

.category-card .card-body ul {}

.category-card .card-body ul li {}

.category-card .card-body ul li a {}

.category-card .card-foot {}